body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0d0d;
  color: #f0f0f0;
}

a {
  color: #1db954;
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #111;
  border-bottom: 1px solid #222;
  position: sticky;
  top: 0;
}

.navbar input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #1a1a1a;
  color: white;
}

.navbar button {
  padding: 6px 12px;
  border: none;
  background: #1db954;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.content {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #181818;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  background: #282828;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.song-card {
  display: flex;
  gap: 15px;
  background: #181818;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.song-card:hover {
  background: #282828;
}

.song-info {
  flex: 1;
}

.song-info h4 {
  margin: 0;
  font-size: 16px;
}

.song-info p {
  margin: 4px 0;
  color: #999;
  font-size: 14px;
}
